@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Montserrat:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
  font-family: "Montserrat";
}

#create_task {
  background-color: #8b008b;
  width: 150px;
  padding: 10px;
  border: black solid 1px;
  border-radius: 8px;
  font-family: "Montserrat";
  color: white;
  position: fixed;
  top: 15px;
  right: 20px;
}

#create_task:hover {
  background: gray;
}

.sidebar_container {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
  top: 0;
  left: 0;
}

.sidebar_container a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

a:hover {
  background: #8b008b;
  border-radius: 8px;
}

#pop-up {
  /*position allows the popup to follow that user when they scroll*/
  position: fixed;
  /*top and left will center the top left corner of our screen*/
  top: 50%;
  left: 55%;
  padding: 3em 2em;
  border: 1px solid black;
  border-radius: 10px;
  /*will center the popup*/
  transform: translate(-50%, -50%);
  z-index: 10;
  background-color: white;
  width: 500px;
  max-width: 80%;
  box-shadow: 0 2px 4px 0;
  display: none;
}

.select-type, input, textarea{
   width: 500px;
   max-width: 85%;
   height: 30px;
   border-radius: 8px;

}

.add-task-header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

.add-task-header #close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: white;
  font-size: 1.25rem;
  font-weight: bold;
}

#add-button {
  background-color: #8b008b;
  width: 150px;
  padding: 10px;
  border: black solid 1px;
  border-radius: 8px;
  font-family: "Montserrat";
  color: white;
  float: right;
  margin: 15px 20px 0 0;
}

label  {
  display: block;
  margin-top: 1em;
}

#task-description {
  margin-bottom: 2px;
}



 .checks label {
  margin-top: 0;
} 

input {
  padding: 0.5em;
  border: solid 1px #999;
}

input[type="text"] {
  width: 15em;
  min-width: 100%;
}

textarea {
  min-height: 8em;
  min-width: 100%;
  padding: 0.5em;
  border: solid 1px #999;
}

input[type="checkbox"] + label {
  display: inline-block;
}

#select-type {
  margin-bottom: 10px;
  width: 440px;
  height: 40px;
  border-radius: 10px;
}

/*Styling columns with flex*/

.task-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 10px;
  margin-left: 310px;
  align-content: center;
  margin-top: 100px;
}

.task-container > div {
  border-radius: 5px;
  padding: 1em;
  height: 200px;
}

.task-card{
  margin-top: 1rem;
  padding: 20px;
  border: solid black 1px;
  max-width: 270px;
  
}